{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>登录(Login)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'myblogs/css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'myblogs/css/supersized.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'myblogs/css/style.css' %}">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="assets/js/html5.js"></script>
        <![endif]-->
        <!-- Javascript -->
        <script src="{% static 'myblogs/js/jquery-1.8.2.min.js' %}" ></script>
        <script src="{% static 'myblogs/js/supersized.3.2.7.min.js' %}" ></script>
        <script src="{% static 'myblogs/js/supersized-init.js' %}" ></script>
        <script src="{% static 'myblogs/js/scripts.js' %}" ></script>
    </head>
    <body>
        <div class="page-container">
            <h1>登录(Login)</h1>
            <form action="login/" method="post">
                {% csrf_token %}
                <input type="text" name="username" class="username" placeholder="请输入您的用户名！">
                <input type="password" name="pwd" class="password" placeholder="请输入您的用户密码！">
                <!-- <input type="Captcha" class="Captcha" name="Captcha" placeholder="请输入验证码！"> -->
                <button type="submit" class="submit_button">登录</button>
                <div class="error"><span>+</span></div>
            </form>
        </div>
    </body>
    <div style="text-align:center;">
    <p><a href="register/" title="注冊" target="_blank">注冊</a></p>
    </div>
</html>

